/* css version 2020.7.14 */
* {
	word-wrap: break-word!important
}

.x-g {
	display: block;
	margin-left: .5em;
	padding-top: .1em;
	border-left: 3px solid #eee;
	/* background-color: #f9fbf9; */
	text-indent: 0;
	font-size: 100%;
}

div:empty,span:empty {
	display: none;
	color: #e7ebee;
	color: #403874;
	color: #119247;
	color: #080300;
	color: #d92405;
	color: #3563eb;
	color: #eac124
}

.dr:empty {
	display: inline
}

body {
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	font-family: Helvetica,Arial,sans-serif;
	line-height: 1.5em;
}

.entry {
	display: block;
	margin-bottom: 1em;
}

.ei-g {
	margin: 0 .3em
}


.idh~.n-g .x-g,.pvh~.n-g .x-g {
	margin-left: .7em;
}

.h-g>.def-g~.x-g,.p-g>.def-g~.x-g {
	margin-left: .5em;
}

.ids-g .x-g,.pvs-g .x-g {
	/* margin-left: .5em; */
}

.para .x-g {
	margin-left: .5em
}

.infl {
	display: none
}

.unxh,.unxh a,.xh {
	color: #d92405;
	text-decoration: none;
	font-weight: 900;
	font-variant: small-caps;
	font-size: 100%
}

.z_sup {
	vertical-align: super;
	font-size: 70%
}

.z_sub {
	vertical-align: sub;
	font-size: 70%
}

.il,.z_he {
	color: #119247;
	font-style: italic
}

.smiley {
	font-size: 150%
}

.alt>.z_a,.z_a,.z_vs-g {
	color: #828282;
	font-weight: 400
}

.ab,.alt,.dre,.he, .vs-g .v {
	color: #403874;
	font-weight: 700
}

.xs+.z_br {
	font-size: 85%;
}

.z,.z_br,.z_ei-g,.z_gr_br {
	color: #000;
	font-weight: 400
}

.arit1,.g,.gi,.r,.ungi {
	color: #119247;
	font-style: italic;
	font-family: inherit
}

.chn {
	font-size: 100%
}

.chn,.d,.ud,.und,detail>.tx,summar>.x {
	color: #080300;
	font-style: normal;
	font-size: 100%;
	font-family: inherit
}

.collsubhead>.chn,.dc>.chn,.dc>.d,.dc>.ndv,.langbanksubhead>.chn,.sd-g .sd .chn,.subhead>.chn,.u>.chn,.u>.d {
	color: inherit
}

.x-g .und .chn {
	display: inline
}

#unwx,#wx {
	display: table;
	text-decoration: line-through
}

.cc,.n-g .z_n {
	color: #3563eb;
	font-weight: 700
}

.n-g .z_n {
	font-size: 95%
}

.symbols-xrsym {
	display: inline-block;
	padding: .05em .1em 0;
	border-radius: 50%;
	background-color: #3563eb;
	color: #fff;
	text-indent: 0;
	font-weight: 700;
	font-size: 70%;
	line-height: 100%
}

.symbols-small_coresym {
	margin-right: -.2em;
	margin-left: -.2em;
	color: #eac124;
	vertical-align: middle;
	font-size: xx-small;
	line-height: 100%
}

.h-g>.symbols-small_coresym {
	display: none
}

.id-g>.symbols-small_coresym,.pv-g>.symbols-small_coresym {
	margin-right: .1em;
	margin-left: -.5em
}

.p-g .block-g .pos-g .symbols-small_coresym,.top-g .z .symbols-small_coresym {
	margin-right: 0;
	margin-left: -.1em;
	font-size: small
}

.symbols-oppsym,.symbols-synsym {
	padding: 0 .4em;
	border-radius: .8em;
	color: #fff;
	letter-spacing: .1em;
	font-weight: 700;
	font-size: 75%
}

.symbols-synsym {
	background-color: #3563eb
}

.symbols-oppsym {
	background-color: #d92405
}

.symbols-etymsym,.symbols-helpsym,.symbols-notesym {
	padding: .05em .3em;
	border-radius: .2em;
	background-color: #3563eb;
	color: #fff;
	font-weight: 700;
	font-size: 80%
}

.etym,.help {
	display: block;
	margin-left: .3em
}

.n-g .etym,.n-g .help {
	margin-left: 0;
	text-indent: 0
}

.ifs-g .help {
	display: inline;
}

.ifs-g .symbols-helpsym {
	margin-left: .1em
}

.n-g .symbols-etymsym,.n-g .symbols-helpsym {
	margin-left: -.1em
}

.symbols-xsym {
	display: none;
	color: #696969
}

.unx,.x,.xt {
	color: teal;
	font-style: italic;
	font-size: 100%;
	/* font-family: Georgia,Times New Roman,Serif; */
}

.tx,.txt {
	display: table;
	padding-left: .1em;
	color: #828282;
	font-size: 100%
}

.cb,.ei,.unei {
	font-weight: 700;
	font-family: Times New Roman,Georgia,Serif
}

.cb,.ei,.ei-g .ei,.unei {
	font-style: italic;
	font-size: 110%
}

.ei-g .ei {
	color: #119247;
	font-weight: 400;
	font-family: inherit
}

.sym {
	color: #3563eb;
	font-weight: 700
}

.ab .z_ab,.sym .z_sym {
	color: #119247;
	font-weight: 400;
	font-style: italic
}

.arbd1,.eb {
	color: #3563eb;
	font-weight: 700
}

.h-g {
	margin-bottom: -.3em;
}

.h-g>.top-g+.sense-g {
	display: inline-block;
	margin-top: -.2em;
	margin-left: .3em;
	line-height: 1em
}

.h-g,.top-g {
	display: block;
}

.h-g .top-g{
	/* margin-left: .2em; */
	text-indent: -.2em;
}

.hs {
	font-weight: 700;
	font-size: 110%
}

.h,.hs,.idh,.pvh {
/*	margin-left: -.1em;*/
	color: #403874
}

.h,.idh,.pvh {
	font-weight: 900;
	font-size: 135%
}

.hs+.h {
	margin-left: 0
}

.h2 {
	color: #403874;
	font-weight: 700;
	font-size: 125%
}

.symbols-coresym {
	color: #eac124
}

.ei-g .phon-gb {
	color: #045fb4;
}

.ei-g .z_phon-us {
	display: none;
	color: #7c0009;
	font-style: italic
}

.phon-us,.phon-usgb {
	color: brown
}

.h-g .top-g .pos-g .Ref a {
	text-decoration: none
}

.xp {
	font-variant: normal;
}

.h-g .top-g .pos-g .Ref a,.pos,.xp {
	color: #d92405;
	font-weight: 600;
	font-style: italic;
	font-size: 90%;
	font-family: Georgia,Times New Roman,Serif
}

.Ref+.z,.pos+.z,.xr+.z {
	color: #d92405
}

.p-g .block-g .pos-g .pos+.z {
	display: none
}

.revout {
	display: inline-block;
	margin-right: .3em;
	margin-left: -.4em;
	padding: .15em .6em .1em .2em;
	border-radius: .2em;
	background: linear-gradient(-135deg,transparent .43em,#3563eb 0) top right,linear-gradient(-45deg,transparent .39em,#3563eb 0) bottom right;
	background-size: 100% 52%;
	background-repeat: no-repeat;
	color: #fff;
	text-decoration: none;
	font-weight: bolder;
	font-size: 85%;
	line-height: 100%
}

.id-g:after,.pv-g:after {
	display: table;
	margin-bottom: .1em;
	content: "\0020"
}

.id-g,.pv-g {
/*	display: table;
	margin-left: .3em;*/
}

.id-g>.id,.pv-g>.pv {
	margin-left: -.2em;
	color: #3563eb;
	font-weight: 700;
	font-size: 100%
}

/*.revout+.id-g>.id,.revout+.pv-g>.pv {
	margin-left: -.2em;
}*/

.cm+.id:before {
	display: table;
	content: "\0020"
}

.id-g>.cm {
	margin-left: -.2em
}

.infl .inflection {
	color: #403874;
	font-weight: 600
}

.symbols-awlsym {
	padding: .05em .2em 0 .3em;
	border-radius: .2em;
	background-color: #000;
	color: #fff;
	vertical-align: middle;
	letter-spacing: .1em;
	font-weight: 700;
	font-size: 50%;
	line-height: 100%
}

.wordbox .word {
	padding: .05em .4em;
	border-radius: .3em;
	background-color: #b8860b;
	color: #fff;
	font-weight: 700;
	font-size: 90%
}

.wordbox .wf-g {
	display: block
}

.cf,.wordbox .wf-g .wfw {
	color: #3563eb
}

.cf {
	font-weight: 700
}

.n-g .cf {
	margin-right: 0;
	margin-left: 0
}
/*
.block-g~.cf {
	display: block;
	margin-left: .5em
}
*/
.n-g .gr+.cf,.n-g .label-g+.cf,.n-g .pos-g+.cf,.n-g .symbols-small_coresym+.cf,.n-g .z_vb+.cf {
	margin-left: 0
}

.def-g~.cf {
	/* display: block; */
	margin-left: .5em;
}

.block-g~.gr+.cf:before {
    content: "\0020";
    display: table
}
.block-g+.cf:before {
    content: "\0020";
    display: table
}

.sense-g .cf {
	margin-left: 0
}

.tx>.ast {
	display: none
}

.gr {
	color: #119247;
	font-weight: 700;
	font-size: 95%
}

.p-g .gr .z_gr_br {
	color: #000;
	font-weight: 400
}

.p-g {
	display: block;
	margin-top: .3em
}

.p-g .block-g .pos-g {
	margin-top: .5em
}

.p-g .block-g .pos-g .pos {
	display: inline-block;
	padding: 0 .2em .2em .3em;
	border-radius: .3em;
	background-color: #d92405;
	color: #fff;
	text-decoration: none;
	font-weight: bolder;
	font-style: normal;
	font-variant: small-caps;
	font-size: 100%;
	font-family: inherit;
	line-height: 70%
}

.p-g .block-g .pos-g .pos~.pos {
	margin-left: .2em
}

.pos a, .symbols-synsym a, .symbols-oppsym a, .revout a {
	color: #fff;
	text-decoration: none;
}

.th a {
	color: #d92405;
	text-decoration: none;
}

.sd-g {
	display: block;
	margin-top: -.1em;
	margin-bottom: .2em
}

.sd-g .sd:before {
	margin-right: .2em;
	/* margin-left: .2em; */
	content: "➤";
	font-size: 80%;
}

.sd-g .sd {
	display: block;
	border-bottom: 1px solid #bbb;
	color: #3563eb;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 95%
}

.p-g .sd-g .n-g .gr .z_gr_br {
	color: #000;
	font-weight: 400
}

.cl,.unebi {
	font-weight: 700
}

.idg a,.pvg a,.symbols-oppsym~.xr .xh,.symbols-oppsym~.xr a,.symbols-synsym~.xr .xh,.symbols-synsym~.xr a {
	color: #d92405;
	text-decoration: none;
	font-weight: 900;
	font-variant: normal;
	font-size: 100%
}

.gr+.z {
	color: #119247;
	font-size: small
}

.cf+.z_vb {
	margin-right: 0;
	color: #3563eb;
	font-weight: 600
}

.p-g .sd-g .n-g .cf .swung-dash {
	display: none
}

.label-g .subject {
	color: #119247;
	font-style: italic;
	font-size: 95%
}

.label-g .subject .schn {
	font-style: normal
}

.ndv {
	color: #403874;
	text-decoration: none;
	font-weight: 700;
	font-variant: small-caps;
	font-size: 110%
}

/*.idh+.sense-g .def-g,.pvh+.sense-g .def-g,.sense-g .def-g { */
.sense-g .def-g {
	margin-left: 0
}

.h-g>.def-g,.p-g>.def-g {
	display: block;
	margin-left: .3em
}

.dst+.def-g, .cf+.def-g {
	display: inline;
	margin-left: 0
}

.def-g .dhb {
	color: #403874;
	font-weight: 700;
}

.xr-g {
	display: block;
	margin-top: 0;
	margin-left: .5em;
	text-indent: 0;
}

.h-g+.xr-g {
	display: block;
	margin-top: .2em;
	margin-bottom: -.4em
}

.n-g .xr-g {
	/* margin-left: 0; */
}

.cf+.xr-g,.gr+.xr-g,.label-g+.xr-g,.z_n+.xr-g {
	display: inline-block;
	margin-left: 0
}

.swung-dash {
	display: none
}

.unbox {
	display: block;
	margin-top: -.6em
}

.n-g .table .tr .td .unbox .subhead,.n-g .table .tr .td .unbox .title {
	padding-left: 1.1em
}

.table .tr .td .unbox .subhead {
	display: block;
	padding-left: .6em;
	color: #3563eb;
	font-weight: 700
}

.table .tr .td .unbox .subhead .symbols-synsep {
	color: #b8860b;
	vertical-align: middle;
	font-size: x-small;
	line-height: 100%
}

.para {
	display: block;
	margin-left: .6em;
	text-indent: 0
}

.table .tr .td .unbox .para .unsyn {
	color: #3563eb;
	font-weight: 700
}

.althead {
	display: block;
	margin-top: .5em;
	margin-left: .5em;
	color: #d92405;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 90%
}

.n-g .table .tr .td .unbox .althead {
	margin-left: 1.1em
}

.table .tr .td .unbox .althead .chn {
	color: #d92405;
	text-transform: none;
	font-size: 110%;
	font-weight: 600;
}

.collsubhead,.langbanksubhead {
	display: block;
	margin-left: .5em;
	margin-top: .2em;
/*	padding-left: .6em;*/
	color: #d92405;
	font-size: 100%;
	font-weight: 600;
}

.chn>.ast {
	vertical-align: middle;
	line-height: 100%
}

.p-g .table .tr .td .unbox .patterns {
	display: block
}

.patterns .para {
	display: block;
	margin-left: 1.7em;
	text-indent: -1em
}

.table .tr .td .unbox .patterns .para .symbols-xsym {
	display: inline;
	color: #b8860b
}

.table .tr .td .unbox .patterns .para .und {
	margin-left: 0;
	color: #080300
}

.para>.und+.und:before {
	display: table;
	content: "\0020"
}

.pracpron,.wr {
	display: none
}

.fm {
	color: #3563eb;
	font-weight: 700
}

.derived,.extract-phrase {
	display: block;
	margin-top: .3em;
	margin-left: .3em
}

.derived a,.extract-phrase a,.xr a {
	color: #d92405;
	text-decoration: none;
	font-weight: 600;
	font-variant: small-caps;
	font-size: 100%
}

.hm {
	margin-left: -.2em;
	color: #403874;
	font-size: small
}

.hm,.xhm {
	vertical-align: super;
	font-weight: 700
}

.xhm {
	color: #d92405;
	font-size: xx-small
}

.xr .xhm {
	margin-left: -.3em
}

.d .xhm,.und .xhm {
	margin-left: -.3em;
	color: inherit;
}

.vs-g>.z_vs-g,.z_he_er {
	color: #828282;
	font-weight: 500;
	font-style: normal
}

.gl,.ungl {
	font-style: normal
}

.ids-g,.pvs-g {
	display: block;
	margin-top: .2em;
	margin-left: .5em;
}

.idh~.n-g,.pvh~.n-g {
	margin-left: .3em;
	text-indent: 0	
}

.n-g {
	display: block;
	margin-top: 0;
	/* margin-left: .5em; */
	/* text-indent: -.5em; */
}

.xs {
	color: #3563eb;
	font-weight: 700;
	font-size: 85%
}

.idh+.sense-g>.table,.pvh+.sense-g>.table {
	display: none
}

.n-g .table {
	/* margin-left: -.8em */
}

.table {
	display: block;
	margin-top: 1.3em;
	padding-right: .2em;
	padding-left: .2em;
	border: 1px solid #d92405;
	border-radius: .3em;
	line-height: 1.5em
}

.ids-g .table,.pvs-g .table {
	text-indent: 0
}

.table .table {
	display: inline-table;
	margin-top: .3em;
	margin-right: 0;
	margin-left: 1em;
	border: none
}

.table .tr .th {
	position: relative;
	bottom: .9em;
	left: .6em;
	display: table-cell;
	padding: 0 .4em;
	border: 1px solid #d92405;
	border-radius: .3em;
	background-color: #fff;
	color: #d92405;
	font-weight: 700;
	font-size: 95%
}

.n-g .table .tr .th {
	left: 1.1em;
	padding: 0 .4em 0 .9em
}

.table .table .tr .th {
	position: static;
	border: none;
	background-color: transparent;
	color: #3563eb;
	font-weight: 700
}

.table .table .tr .td,.table .table .tr .th {
	display: table-cell;
	padding: 0 1em 0 0;
	font-size: 100%
}

.table .tr .td .unbox .title {
	display: block;
	padding-left: .6em;
	color: #403874;
	font-weight: 700;
	font-size: 110%
}

.symbols-para_square {
	margin-right: 0;
	margin-left: -.9em;
	color: #d92405;
	vertical-align: middle;
	font-size: 50%;
	line-height: 100%
}

.arit1 {
	font-style: italic
}

.def-g:after {
	display: table;
	content: "\0020"
}

.p-g .ifs-g,.top-g .ifs-g {
	margin-left: .3em
}

.top-g .block-g+.ifs-g:before {
	display: table;
	content: "\0020"
}

.ifs-g .if-g .if {
	color: #403874;
	font-weight: 600
}

.dr-g {
	display: block;
	margin-top: .2em;
	margin-left: .2em
}

.dr-g .x-g {
	margin-left: .3em;
}

.symbols-drsym {
	display: none;
	margin-right: -.1em;
	color: #3563eb;
	vertical-align: top
}

.dr:before {
	display: inline-block;
	margin-right: .15em;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #3563eb;
	border-style: solid;
	border-width: 5px 0 5px 8.7px;
	content: "\0020"
}

.ei-g+.dr:before {
	margin-left: .2em
}

.dr-g .top-g .dr,.dr-g .top-g .zd {
	color: #403874;
	font-weight: 700;
	font-size: 110%
}

.wordbox {
	float: right;
	clear: both;
	display: block;
	margin-top: 1.3em;
	margin-right: 0;
	margin-left: .2em;
	padding: .2em .4em;
	border: 2px solid #b8860b;
	border-radius: .3em;
	background-color: #fff
}

.co {
	/* display: inline-block; */
	color: #403874;
	font-weight: 700;
	font-size: 100%
}

.z_vb {
	color: inherit
}

.unfm {
	color: #3563eb;
	font-weight: 700
}

.table .table .tr {
	display: table-row
}

.dc,.u {
	color: #119247;
	font-family: inherit
}

.vs {
	color: #403874;
	font-weight: 700
}

.p-g>.ei-g:after {
	display: table;
	content: "\0020"
}

.de_c,.de_e {
	display: none
}

.de_s {
	color: #3563eb
}

.de_s,.z_xr {
	font-weight: 600
}

.z_xr {
	color: #d92405;
	text-transform: uppercase;
	font-size: 85%
}

.idg,.pvg {
	display: block;
	margin-top: .4em;
	margin-left: .3em
}

.idg_c,.pvg_c {
	padding: .05em .3em;
	border-radius: .2em;
	background-color: #3563eb;
	color: #fff;
	letter-spacing: .1em;
	font-weight: 700;
	font-size: 75%
}

img.Media {
	float: right;
	clear: both;
	max-height: 102px
}

img {
	height: auto;
	max-width: 100%;
}

img.pause_img {
	margin-bottom: -.2em;
	width: 1em;
	height: 1em
}

img.ti_img {
	margin-bottom: -.3em;
	width: 1.4em;
	height: 1.3em
}

img.fayin {
	display:none;
	margin-bottom: -.1em;
	width: 1em;
	height: 1em;
}

.ve, .ff {
	color: inherit;
	font-weight: 700;
}

.p-g .block-g {
	margin-left: .1em;
}

a.fayin {
	text-decoration: none;
}